services:
  postgres:
    image: postgres:17.4
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: url-shortner
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_password
      - db_user
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:

secrets:
  db_password:
    file: ./secrets/db_password.txt
  db_user:
    file: ./secrets/db_admin.txt  